# Ignore build files
build/

# Ignore simulation files
simulation/
abc.history
obj_dir
sim_build
results.xml
*.vcd

__pycache__

# Ignore VSCode user settings
.vscode/settings.json

# Ignore draw.io backup files
*.png.bkp
*.dtmp

# Temp test files
test_scratch_pad*.py

# Temp focusing image and production logs
production/temp_focus_image.jpg
production/log.txt
production/frame-firmware-*.hex
