# Ignore build files
build/

# Ignore simulation files
simulation/
abc.history

# Ignore VSCode user settings
.vscode/settings.json

# Ignore draw.io backup files
*.png.bkp
*.dtmp

# Temp test files
test_api_scratch_pad.py
tests/log.txt
tests/camera_test.py