# Modelsim
transcript
*.bak
*.log
*.html
*.wlf
*.mti
*.tcr
.build_status
.synthesis_touch
*.ini
csi_tcr*
.recovery
*.bak

work

/source/csi/pll_sim_ip/*
!/source/csi/pll_sim_ip/*.xml
!/source/csi/pll_sim_ip/*.cfg
!/source/csi/pll_sim_ip/*.ipx

/source/csi/csi2_transmitter_ip/*
!/source/csi/csi2_transmitter_ip/*.xml
!/source/csi/csi2_transmitter_ip/*.cfg
!/source/csi/csi2_transmitter_ip/*.ipx

/source/csi/csi2_receiver_ip/*
!/source/csi/csi2_receiver_ip/*.xml
!/source/csi/csi2_receiver_ip/*.cfg
!/source/csi/csi2_receiver_ip/*.ipx

/source/csi/byte_to_pixel_ip/*
!/source/csi/byte_to_pixel_ip/*.xml
!/source/csi/byte_to_pixel_ip/*.cfg
!/source/csi/byte_to_pixel_ip/*.ipx

/source/csi/pixel_to_byte_ip/*
!/source/csi/pixel_to_byte_ip/*.xml
!/source/csi/pixel_to_byte_ip/*.cfg
!/source/csi/pixel_to_byte_ip/*.ipx